{% extends "base_template.html" %}

{% block title %}
    Crear Dispositivo
{% endblock %}

{% block content %}


    <table cellspacing="0" cellpadding="1" width="100%" class="tabla_top">
        <tbody>
            <tr>
                <td>
                    <form action="{{ url_for('admin.list_dispositivos') }}" method="get" novalidate>
                        <input type="submit" value="Descartar/Volver" />
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <table cellspacing="0" cellpadding="1" width="100%" class="tabla_body">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <tbody>
                <tr>
                    <th align="center" valign="middle" colspan="4">
                        Crear dispositivo
                    </th>
                </tr>
                <tr align="left" valign="middle">
                    <td>
                        {{ form.nombre.label }}
                    </td>
                    <td>
                        {{ form.nombre }}
                        {% for error in form.nombre.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr align="left" valign="middle">
                    <td>
                        {{ form.notas.label }}
                    </td>
                    <td>
                        {{ form.notas }}
                        {% for error in form.notas.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr align="left" valign="middle">
                    <td>
                        {{ form.submit(class_='boton_2') }}
                    </td>
                    <td>
                        
                    </td>
                </tr>
            </tbody>
        </form>
    </table>

{% endblock %}
